.main-image {
    height: 500px;
}
.head-div {
    padding: 25px;
    display: flex;
    align-items: center;
}
.head-text-div {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
}

.head-text-div p {
    padding: 10px;
}

.project-card {
    border-radius: 15%;
    display: flex;
    align-items: center;
    max-width: 350px;
    height: 400px;
    flex-direction: column;
    color: white;

    background-color:rgb(80, 58, 95);
    gap: 10%;

    transition: transform 0.2 ease;
}

#clash-icon {
    width: 50px;
    height: 50px;
}

.project-card h3 {
    font-size: large;
}

.text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 15px;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: clamp(1px, 8px, 10px);
}

.project-card button {
    width: fit-content;
    height: 40px;
    background-color: rgb(255, 106, 0);
    border-color: rgb(255, 106, 0);
}

.project-card p {
    padding-left: 10%;
    padding-right: 10%;
}

.project-card:hover {
    box-shadow: 0px 0px 10px 0px rgb(80, 58, 95);
    
    transform: scale(1.03);
}